<nav>
    
        <p [routerLink]="['/home']">Home</p>
        <p [routerLink]="['/list']">List</p>
        <p [routerLink]="['/create']">Create</p>
        <p [routerLink]="['/about']">About</p>
  
</nav>